<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>Contact me at:</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>Mobile: (727) 859-7406</li>
      </ul>
    </div>

    <div class="footer-col-2 column">
    </div>

    <div class="footer-col-3 column social-grid">
      <div class="container">
        <div class="">
          <a class="" href="{{ site.social.facebook.link }}">
            <img class="social facebook" src="{{ site.social.asset_pipeline }}{{ site.social.facebook.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.twitter.link }}">
            <img class="social twitter" src="{{ site.social.asset_pipeline }}{{ site.social.twitter.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.googleplus.link }}">
            <img class="social googleplus" src="{{ site.social.asset_pipeline }}{{ site.social.googleplus.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.linkedin.link }}">
            <img class="social linkedin" src="{{ site.social.asset_pipeline }}{{ site.social.linkedin.logo }}" alt="" />
          </a>
        </div>
        <div class="">
          <a class="" href="{{ site.social.youtube.link }}">
            <img class="social youtube" src="{{ site.social.asset_pipeline }}{{ site.social.youtube.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.flickr.link }}">
            <img class="social flickr" src="{{ site.social.asset_pipeline }}{{ site.social.flickr.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.spotify.link }}">
            <img class="social spotify" src="{{ site.social.asset_pipeline }}{{ site.social.spotify.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.deviantart.link }}">
            <img class="social deviantart" src="{{ site.social.asset_pipeline }}{{ site.social.deviantart.logo }}" alt="" />
          </a>
        </div>
        <div class="">
          <a class="" href="{{ site.social.steam.link }}">
            <img class="social steam" src="{{ site.social.asset_pipeline }}{{ site.social.steam.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.xbox.link }}">
            <img class="social xbox" src="{{ site.social.asset_pipeline }}{{ site.social.xbox.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.twitch.link }}">
            <img class="social twitch" src="{{ site.social.asset_pipeline }}{{ site.social.twitch.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.goodreads.link }}">
            <img class="social goodreads" src="{{ site.social.asset_pipeline }}{{ site.social.goodreads.logo }}" alt="" />
          </a>
        </div>
        <div class="">
          <a class="" href="{{ site.social.hackernews.link }}">
            <img class="social hackernews" src="{{ site.social.asset_pipeline }}{{ site.social.hackernews.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.reddit.link }}">
            <img class="social reddit" src="{{ site.social.asset_pipeline }}{{ site.social.reddit.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.kickstarter.link }}">
            <img class="social kickstarter" src="{{ site.social.asset_pipeline }}{{ site.social.kickstarter.logo }}" alt="" />
          </a>
          <a class="" href="{{ site.social.stackoverflow.link }}">
            <img class="social stackoverflow" src="{{ site.social.asset_pipeline }}{{ site.social.stackoverflow.logo}}" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
