<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>Contact me at:</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column row">
      <div class="col-md-1">
        <ul>
          <li>
            <a href="#">
              <img class="social facebook" src="/assets/images/social/facebook/facebook-128.png" alt="Facebook" />
            </a>
          </li>

          <li>
            <a href="#">
              <img class="social twitter" src="/assets/images/social/twitter/twitter-128.png" alt="Twitter" />
            </a>
          </li>

        </ul>
      </div>
      <div class="col-md-1">
        <ul>
          <li>
            <a href="#">
              <img class="social googleplus" src="/assets/images/social/googleplus/googleplus-128.png" alt="" />
            </a>
          </li>

          <li>
            <a href="#">
              <img class="social linkedin" src="/assets/images/social/linkedin/linkedin-128.png" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-1">
        <ul>
          <li>
            <a href="#">
              <img class="social rdio" src="/assets/images/social/rdio/rdio-128.png" alt="" />
            </a>
          </li>

          <li>
            <a href="#">
              <img class="social reddit" src="/assets/images/social/reddit/reddit-128.png" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-1">
        <ul>
          <li>
            <a href="#">
              <img class="social skype" src="/assets/images/social/skype/skype-128.png" alt="" />
            </a>
          </li>

          <li>
            <a href="#">
              <img class="social steam" src="/assets/images/social/steam/steam-128.png" alt="" />
            </a>
          </li>
        </ul>
      </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
