.social-grid{font-size: 0px;}
img {
  .logo{height:128px;}
  .extern{height:32px; width:32px;}
  .social{height:32px; width:32px;}
  .github{background-color:#4183C4;}
  .bitbucket{background-color:#205081;}
  .rss{background-color:#FF8300;}
  .facebook {background-color:#3B5998}
  .twitter {background-color:#00ACED}
  .googleplus {background-color:#D14836}
  .linkedin {background-color:#007FB1}
  .youtube {background-color:#CD332D}
  .flickr {background-color:#0063DB}
  .spotify {background-color:#80B719}
  .deviantart {background-color:#4B5D50}
  .hackernews {background-color:#FF6600}
  .reddit {background-color:#FF4500}
  .kickstarter {background-color:#87C442}
  .stackoverflow {background-color:#F47920}
  .steam {background-color:#000000}
  .xbox {background-color:#107C10}
  .twitch {background-color:#6441A5}
  .goodreads {background-color:#5A471B}  
}
