---
layout: default
---

<div id="portfolio" ng-app="portfolioApp">
  <div ng-controller="portfolioController">

    <div id="skills" class="headline">
      <span ng-repeat="skill in skills" data-toggle="tooltip" data-placement="top" title="[[skill]]">
        <span class="devicons devicons-[[skill]]"></span>
      </span>
    </div>

    <hr>

    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation"><a href="#portfolio" aria-controls="portfolio" role="tab" data-toggle="tab">Portfolio</a></li>
        <li role="presentation"><a href="#research" aria-controls="research" role="tab" data-toggle="tab">Research</a></li>
        <li role="presentation"><a href="#work" aria-controls="work" role="tab" data-toggle="tab">Work</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="portfolio">
          <div ng-repeat="book in books">
            <div>
            </div>
            <hr>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="research">
          <h4>Research <span class="badge"></span></h4>
          <ol>
            <li><a href="thesis.html">Automated Web Testing</a></li>
            <li><a href="lockon.html">Triangulation As A Search Problem</a></li>
            <li><a href="registrar.html">Course Schedualing</a></li>
            <li><a href="routing.html">Logistics Schedualing</a></li>
            <li><a href="arcade.html">Machine Learning for NES Game Playing</a></li>
          </ol>
        </div>
        <div role="tabpanel" class="tab-pane" id="work">
          <div ng-repeat="bin in bins | orderBy:'-repos.length'">
            <div class="headline">
              <h2>[[bin.language]] <span class="badge">[[bin.size]]</span></h2>
            </div>
            <div class="">
              <table class="table table-striped">
                <thead>
                  <th></th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Activity</th>
                  <th>Forks</th>
                  <th>Stars</th>
                </thead>
                <tbody>
                  <tr ng-repeat="repo in bin.repos">
                    <td>[[$index + 1]]</td>
                    <td><a href="[[repo.html_url]]">[[repo.name]]</a></td>
                    <td>[[repo.description]]</td>
                    <td><span class="label label-[[repo.activity.badge]]">[[repo.pushed_at]]</span></td>
                    <td>[[repo.forks_count]]</td>
                    <td>[[repo.stargazers_count]]</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript" src="/assets/js/portfolio.js"></script>
<script type="application/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
