---
layout: default
---

<div id="research">
  <h4>Research <span class="badge"></span></h4>
  <ol>
    <li><a href="">Automated Web Testing</a></li>
    <li><a href="">Triangulation As A Search Problem</a></li>
    <li><a href="">Universal Scheduling</a></li>
    <li><a href="">Machine Learning for NES Game Playing</a></li>
  </ol>
</div>

<div id="projects" ng-app="githubApp">
  <div ng-controller="githubController">
    <div ng-repeat="bin in bins">
      <h2>{{bin.languages}}</h2>
      <table class="table">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="repo in bin.repos">
            <td>{{repo}}</td>
            <td>{{repo}}</td>
            <td>{{repo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="application/javascript" src="/assets/js/gh-venture.js"></script>
