---
layout: default
---


<div class="post">
  <div class="header-bar">
    <h1>*folio</h1>
    <h2>simple whitespace theme</h2>
    <br/>
    <hr>
    <br/>
  </div>


  <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
          <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          <p>{{ post.description }}</p>
          <br/>
          <hr/>
        </li>
      {% endfor %}
  </ul>
</div>
